@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300&family=REM:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Saira+Condensed:wght@300;400;700&family=Saira:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,300&family=Open+Sans:wght@700&family=REM:wght@300&display=swap");
$font_family1: "Open Sans";
$font_family2: "Montserrat";
$font_family3: "roboto";

// $color_bezowy: #fde4e4;
// $color_brazowy: #7d7070;
// $color_pomaranczowy: #fd9797;
$color_zielony: #ffc570;
$color_bezowy: black;
$color_brazowy: #71c3ff;
$color_pomaranczowy: #b3b246;
$color_bezowy2: #71c3ff;
$color_ciemnyNiebieski: #3d81b3;

$color_dark_zielony: #35317a;
$color_dark_zielony2: #332e2e;
$color_dark_zielony3: #171515;
$color_dark_brazowy: #05092e;
$color_dark_bezowy: #e8d8d1;
$color_dark_pomaranczowy: #0cbfde;

$headerSize: 130px;
$footerSize: 50px;
